doctype
html(lang='en')
    head
        include ../includes/header.pug
        link(rel='stylesheet', href='/css/index.css')

    body
        include ../includes/navbar.pug
        
        .jumbotron.text-center.bg-transparent
            h1.display-3 404
            p.lead.font-weight-bold This page does not seem to exist.
                i.fas.fa-star
            //button.btn.btn-dark(href='/') Return to homepage
        wow
        