li {
    cursor: pointer;
}

.categoryButton {
    cursor: pointer;
}

.exampleColumn {
    padding-top: 30px;
}

.commandExamples {
    padding-left: 10px;
    padding-bottom: 10px;
}

.commands li {
    margin: 5px 0;
    border-radius: 5px;
    border: 1px solid lightgray !important;
}

#accordion {
    padding-top: 16px;
}

#commandContainer {
    padding-top: 20px;
}

#searchLabel {
    margin-bottom: 0;
    margin-top: 27px;
    max-height: 15px;
    display: flex;
    align-items: center;
}