.jumbotron {
    margin-top: 0vh;
    background-color: white;
}

.spinner-border {
    width: 3rem;
    height: 3rem;
}

.tooltip {
    position: absolute;
}

.user-avatar.round {

    height: 32px;
    width: 32px;
}

.deco-white {
    color:white !important;
   /* text-decoration:none; */
}

#navbarNavAltMarkup {
    background-color: white;
}