.jumbotron {
    margin-top: 0vh;
    background-color: white;
}

.spinner-border {
    width: 3rem;
    height: 3rem;
}

.tooltip {
    position: absolute;
}

.user-avatar.round {
    height: 32px;
    width: 32px;
}

.deco-white {
    color: white !important;
    /* text-decoration:none; */
}

.deco-black {
    color: black !important;
    /* text-decoration:none; */
}

.songItem:hover {
    background-color: #0275d8;
    /* opacity: 0.5; */
    color: white;
}

.gameItem:hover {
    background-color: #0275d8;
    /* opacity: 0.5; */
    color: white;
}

#navbarNavAltMarkup {
    background-color: white;
}