doctype
html(lang='en')
    head
        include ../includes/header.pug
        link(rel='stylesheet', href='/css/index.css')
        link(rel='stylesheet', href='/css/sidebar.css')
        script(src='/js/sidebar.js', defer)
        script(src='/js/submit.js', defer)
        
    body
        include ../includes/sidebar.pug


        #sidebarExtension.bg-light
            header.text-center.pt-4 
                .large-icon.bg-white.round
                    img.round(src=user.avatarUrl(128), alt=user.username)
                h4.pt-2 #{user.username}
                    span.text-muted #{'#' + user.discriminator.toString().padStart(4, '0')}


        include ../includes/navbar.pug
        
        .jumbotron.text-center.bg-transparent
            h1.display-3 Dashboard
            hr
            p.lead Manage your server configs