section#generalModule.module.container.px-5
    form(action='/servers/' + guild.id + '/general?_method=PUT', method='POST')
        .jumbotron.bg-transparent.pb-0
            h1.display-4.text-center General