doctype
html(lang='en')
    head
        include includes/header.pug
        link(rel='stylesheet', href='/css/index.css')
        link(rel='stylesheet', href='/css/sidebar.css')
        
    body
        include includes/navbar.pug

        .jumbotron.text-center.bg-transparent
            h1.display-3 Short Answer Bot
            p.lead Co-ordinate game squads, powerful autorole, twitch + youtube alerts, music (with Spotify) support and more
                i.fas.fa-star
            if loggedIn
                a.btn.btn-dark(href='/dashboard') Dashboard
            else
                a.btn.btn-link.btn-dark.deco-white(href='/login') Discord Login
        