include includes/header.pug

body
    include includes/navbar.pug
    .jumbotron.text-center.bg-light
        h1.display-3 I got no clue what is going on
        p.lead Test
        button.btn.btn-dark wow
    wow
        